.channelsView{

  .clearfix(){
    &:before, &:after{
      content: "";
      display: table;
      clear: both;
    }
  }

  @channelsHeaderHeight: 65px;
  @favoritesButtonHeight: @channelsHeaderHeight - 20px;
  .channelsHeader{
    height: 65px;
    background: #000000;
    .clearfix;
  }

  .channelsHeaderLabel{
    margin-left: 40px;
    height: @channelsHeaderHeight;
    line-height: @channelsHeaderHeight;
    font-size: 28px;
    color: #999999;
    font-weight: bold;
  }

  @-webkit-keyframes blinkFavoriteChannel{
    0%{color: #FFFFFF;}

    50%{color: #DE4E14;}

    75%{color: #FFFFFF;}

    90%{color: #DE4E14;}

    100%{color: #FFFFFF;}
  }

  @keyframes blinkFavoriteChannel{
    0%{color: #FFFFFF;}

    50%{color: #DE4E14;}

    75%{color: #FFFFFF;}

    90%{color: #DE4E14;}

    100%{color: #FFFFFF;}
  }

  .favoriteChannelButton{
    margin: 10px;
    height: @favoritesButtonHeight;
    min-width: @favoritesButtonHeight;
    line-height: @favoritesButtonHeight;
    border-radius: @channelsHeaderHeight/2;
    background: #ffffff;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    border: none;

    &.active, &:active, &.pressed{
      color: #FFFFFF;
      background: #000000;
    }

    &:last-child{
      margin-right: 45px;
    }

    &.blinking{
      animation-name: blinkFavoriteChannel;
      animation-duration: 1000ms;
      animation-timing-function: ease;
      -webkit-animation-name: blinkFavoriteChannel;
      -webkit-animation-duration: 1000ms;
      -webkit-animation-timing-function: ease;
    }
  }

  .scrollOverridenColumn{
    .moon-scroller-client-wrapper.v-scroll-enabled{
      padding-right: 0;

    }

    .moon-scroller-v-column.v-scroll-enabled{
      left: 50%;
      margin-left: -30px;
      opacity: 1;
      width: 0;
    }

    .moon-scroller-vthumb-container{
      display: none;
    }
  }

  @channelsColumnWidth: 590px;
  .channelsListColumn{
    width: @channelsColumnWidth;
    background: url("../../assets/channel-column-shadow.png") 50% -5% no-repeat, url("../../assets/channel-column-shadow.png") 50% 105% no-repeat , rgba(0, 0, 0, 0.6);
    //box-shadow: 2px 0 50px #000;
    position: relative;
    .scrollOverridenColumn();
    box-shadow: 5px 0 20px 0 rgba(0,0,0,0.5);
  }

  @listItemHeight: 140px;
  @channelIconMaxWidth: 135px;
  .listItem{
    height: @listItemHeight;
    border-bottom: 1px solid rgba(207, 207 ,207, 0.2);
    // box-sizing: border-box; // bugfix: doesn't let enyo correctly calculate size of list and hide navigation arrow element in time.
    .clearfix();

    &:hover{
      box-shadow: inset 0 0 0 3px #DE4E14;
    }
  }

  .listItem:first-child{
    border-top: 1px solid rgba(207, 207 ,207, 0.2);;
  }

  .imageCont{
    height: @listItemHeight;
    width: @channelIconMaxWidth + 40px;
    line-height: @listItemHeight;
    text-align: center;
    font-size: 0;
    background: rgba(255, 255, 255, 0.1);
    float: left;

    img{
      max-width: @channelIconMaxWidth;
      max-height: @listItemHeight - 10;
      vertical-align: middle;
    }
  }

  .channelTitle{
    margin-left: @channelIconMaxWidth + 40px;
    padding: 0 30px;
    color: #ffffff;
    font-size: 32px;
    height: @listItemHeight;
    line-height: @listItemHeight;
    .singleLineTextOverflow;
    .textShadow();
  }

  .channelSelected{
    .imageCont{
      background: rgba(294, 94, 34, 0.5);
    }
  }

  @programHeaderWidth: @channelsColumnWidth;
  @programTimeWidth: 150px;

  .programsList{
    position: relative;
    .scrollOverridenColumn();

    .moon-scroller-v-column.v-scroll-enabled{
      left: @programHeaderWidth / 2;
    }

    &:before{
      content: '';
      display: block;
      position: absolute;
      top:0;
      left: 0;
      width: @programHeaderWidth;
      height: 100%;
      box-shadow: 3px 0 10px 0 rgba(0,0,0,0.5);
      background: url("../../assets/channel-column-shadow.png") 50% -5% no-repeat, url("../../assets/channel-column-shadow.png") 50% 105% no-repeat, rgba(0, 0, 0, 0.5);
    }
  }

  .programItem{
    .clearfix();
  }

  .programItem__past{
    .programTime{
      color: rgba(255, 255, 255, 0.5);
      text-shadow: none;
    }
  }

  .programItem__current{
    .programTitle{
      color: #ffffff;
      .textShadow();
    }
  }

  .programHeader{
    width: @programHeaderWidth;
    height: @listItemHeight;
    line-height: @listItemHeight;
   // box-sizing: border-box; // bugfix: doesn't let enyo correctly calculate size of list and hide navigation arrow element in time.
    float: left;
    position: relative;
    border-bottom: 1px solid rgba(207, 207 ,207, 0.2);
  }

  .programItem:first-child .programHeader{
    border-top: 1px solid rgba(207, 207 ,207, 0.2);
  }


  .programTime{
    display:inline-block;
    width: @programTimeWidth;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    text-shadow: #000 1px 1px 1px;
  }

  .programTitleContainer{
    max-width: @programHeaderWidth - @programTimeWidth;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  .programTitle{
    font-size: 32px;
    padding-right: 15px;
    max-height: 2.6em;
    line-height: 1.3em;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    .webkitMultilineEllipsis(2);
  }

  .programDetails{
    height: @listItemHeight;
    line-height: @listItemHeight;
    margin-left: @programHeaderWidth;
    // border-top: 1px solid rgba(207, 207 ,207, 0.2);  // bugfix: border doesn't let enyo to recalculate size correctly and hide navigation arrow of the list of channels
    // border-bottom: 1px solid rgba(207, 207 ,207, 0.2);
    background: rgba(294, 94, 34, 0.5);
    color: #ffffff;
    position: relative;
    opacity: 0;
  }

  @moreInfoWidth: 60px;
  @moreInfoMargin: 10px;
  @descriptionPadding: 20px;

  .programDescriptionContainer{
    display: inline-block;
    vertical-align: middle;
    margin-right:  @moreInfoWidth + @moreInfoMargin * 2;
  }

  .programDescription {
    padding: 0 @descriptionPadding;
    font-size: 23px;
    line-height: 1.2em;
    height: 3.6em;
    .webkitMultilineEllipsis(3);
  }

  .moreInfoButton{
    width: @moreInfoWidth;
    height: @moreInfoWidth;
    min-width: @moreInfoWidth;
    position: absolute;
    top: 50%;
    right: @moreInfoMargin;
    margin-top: -(@moreInfoWidth / 2);
    background: #000000 url("../../assets/info-symbol.png") no-repeat 50% 50%;
    // box-sizing: border-box; // bugfix: doesn't let enyo correctly calculate size of list and hide navigation arrow element in time.
    border: 8px solid #494949;
    border-radius: 60px;
    float: right;
    vertical-align: middle;

    &.spotlight, &:hover{
      border-color: #DE4E14;
      box-shadow: none;
    }
  }

  .progressBarContainer{
    position: absolute;
    left: @programTimeWidth;
    right: @descriptionPadding;
    bottom: 15px;

    .timeContainer{
      display: none;
    }

    .progressBar{
      margin: 0;
    }
  }
}

.programItem:hover, .programItem.selected{
  box-shadow: none;

  .programDetails{
    opacity: 1;
  }
}

.channels-schedule-age-rate-mini {
    position:absolute;
    top:45px;
    left:531px;
    width: 38px;
    height: 38px;
    font-size: 15px;
    border: 2px solid #46424f;
    line-height: 40px;
}


