/*
    This file contains common styles and classes for other views
*/

// NOTE: borders for deubg only
.fittable-box {
  //  border: 1px solid lightblue;
}

.fittable-col {
//    border: 1px solid orange;
}
// NOTE: borders for deubg only


.vertical-center {
    vertical-align: middle;
    display: inline-block;
}


.circle {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    line-height: 3;
    font-size: 20px;
    color: white;    
    text-align: center;
    background: rgba(0,0,0,0.8);
    border: 4px solid rgba(70,66,79,1);
    font-family: sans-serif;
}



.crop-container {
    // place here your height and width in your inherited class
    overflow: hidden;
    position: relative;
}

    .crop-container img {
        position: absolute;
        left: -10%;
        top: -5%;
    }

.back-button {
    border-radius: 0;
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,0.5);
    font-family: "Arial", sans-serif;
    font-size: 26pt;
}

    .back-button div {
        margin-right: 24px;
    }

    .back-button::before {
        .vertical-center;
        content: ' ';
        width: 35px;
        height: 58px;
        background-image: url(../../assets/back_button.png);
    }

.back-button-image {
    margin-left: 20px;
}

.singleLineTextOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//works only in webkit and changes text container display
.webkitMultilineEllipsis(@maxLines){
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: @maxLines;
    -webkit-box-orient: vertical;
}

.stackLeft{
    float: left;
}

.stackRight{
    float: right;
}

.textShadow{
    text-shadow: #000 1px 1px 1px;
}