﻿.details-block-distance {
    margin-top: 30px;
}

.details-content-distance {
    margin-top: 1px;
}

.disable-moon-tbpadding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.details-main-view {
    .disable-moon-tbpadding;
    background-image: url("../../assets/_all_bg.jpg");
}

.details-right-column-view {
    background-color: rgba(0,0,0,0.5);
    /*padding-right: 65px;
    padding-left: 25px;*/
    padding: 10px 65px 50px 25px;
    width: 55%;
}

.details-left-column-view {
    width: 45%;
    padding-right: 30px;
    padding-left: 20px;
}


.details-info-box {
    // overflow: hidden;
    position: relative;
    height: 100%;
    line-height: 100%;
}

    /*.details-info-box div, span {
       line-height: 3;
    }*/

.details-icon {
    max-height: 60px;
    max-width: 80px;
}


.details-info-box-ageRate {    
    margin-left: 22px;
    height: 65px;
    width: 65px;
}

.details-fonts-program-title {
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 22pt;
    margin-left: 10px;
}

.details-fonts-main-title {
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 32pt;
}

.details-fonts-program-details-header {
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 18pt;
}

.details-fonts-program-details-content {
    .details-fonts-program-details-header;
    opacity: 0.4;
}

.details-fonts-program-type {
    font-family: "Arial", sans-serif;
    font-size: 14pt;
    font-style: italic;
    color: white;
    margin-left: 10px;
}

.details-imagebox {
    border: solid;
    border-color: #f15e22;
}


.details-crop-container {
    .crop-container;
    width: 800px;
    height: 500px;
}

.details-crop-container img {
    min-width: 600px;
    min-height: 600px;
}

.back-button {
    border-radius: 0;
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,0.5);
    font-family: "Arial", sans-serif;
    font-size: 26pt;
}

    .back-button div {
        margin-right: 24px;
    }

    .back-button::before {
        .vertical-center;
        content: ' ';
        width: 35px;
        height: 58px;
        background-image: url(../../assets/back_button.png);
    }
