.moon-button:active:hover:not([disabled]) {
  border: 0px;
  background-color: black;
}

.moon-button.spotlight {
  background-color: black;
}

.moon-item.spotlight {
  background-color:#131937;
}


.moon-button.active, .moon-button.pressed, .moon-button.spotlight.pressed, .moon-button.spotlight:active, .moon-button.small.spotlight.pressed {
  border: none;
  background-color: #404040;
}

//style for highlighting elements focused by spolight
.spotlight{
  box-shadow: inset 0 0 0 3px #DE4E14;
}

// arrow icon override start ==========================================
@scrollIconWidth: 60px;
@scrollArrowHeight: 9px;
@moonArrowColor: rgba(255, 255, 255, 0.3);
@scrollIconBorder: 3px solid @moonArrowColor;
@moonLargeArrow: 8px;
@moonSmallArrow: 4px;
@moonArrowIconBackground: rgba(0, 0, 0, 0.8);

.moon-paging-button.moon-paging-button.moon-paging-button.moon-paging-button{
  height: @scrollIconWidth;
  width: @scrollIconWidth;
  border-radius: @scrollIconWidth / 2;
  background: @moonArrowIconBackground;
  border: @scrollIconBorder;
  line-height: @scrollIconWidth;
  text-align: center;
}

.arrowDirectionDown(@color, @arrowHeight){
  border-color: @color transparent transparent transparent;
  top: @arrowHeight / 2;
  border-width: @arrowHeight;
}

.arrowDirectionUp(@color, @arrowHeight){
  border-color: transparent transparent @color transparent;
  bottom: @arrowHeight / 2;
  border-width: @arrowHeight;
}

.arrowDirectionLeft(@color, @arrowHeight){
  border-color: transparent @color transparent transparent;    
  right: @arrowHeight / 2;
  border-width: @arrowHeight;
}

.arrowDirectionRight(@color, @arrowHeight){
  border-color: transparent transparent transparent @color;
  left: @arrowHeight / 2;
  border-width: @arrowHeight;
}

.moonIconArrow{
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
  vertical-align: middle;
}

.moon-icon-arrowlargeup:after{
  .moonIconArrow;
  .arrowDirectionUp(@moonArrowColor, @moonLargeArrow)
}
.moon-icon-arrowlargedown:after{
  .moonIconArrow;
  .arrowDirectionDown(@moonArrowColor, @moonLargeArrow)
}
.moon-icon-arrowlargeleft:after{
  .moonIconArrow;
  .arrowDirectionLeft(@moonArrowColor, @moonLargeArrow)
}
.moon-icon-arrowlargeright:after{
  .moonIconArrow;
  .arrowDirectionRight(@moonArrowColor, @moonLargeArrow)
}
.moon-icon-arrowsmallup:after{
  .moonIconArrow;
  .arrowDirectionUp(@moonArrowColor, @moonSmallArrow)
}
.moon-icon-arrowsmalldown:after{
  .moonIconArrow;
  .arrowDirectionDown(@moonArrowColor, @moonSmallArrow)
}
.moon-icon-arrowsmallleft:after{
  .moonIconArrow;
  .arrowDirectionLeft(@moonArrowColor, @moonSmallArrow)
}
.moon-icon-arrowsmallright:after{
  .moonIconArrow;
  .arrowDirectionRight(@moonArrowColor, @moonSmallArrow)
}

.moon-icon.moon-icon-button.active,
.moon-icon.moon-icon-button:active,
.moon-icon.moon-icon-button.pressed,
.moon-icon.moon-icon-button.spotlight.pressed,
.moon-icon.moon-icon-button.spotlight:active,
.moon-icon.moon-icon-button.hover:active:not(.disabled){
  background-color: #404040;
  border: @scrollIconBorder;
}

.moon-icon-button.disabled{
  opacity: 0;
}
// arrow icon override end ============================================

