/*
+    App-specific LESS/CSS would go here, but to make your
+    application easier to maintain, you should try to
+    minimize the use of custom CSS.
+*/

//import mixins
@import "clearfix.less";
@import "elements.less";
@import "grid.less";

//overrides for enyo and monnlight styles
@import "enyoOverrides.less";

//import controls styles
@import "programmableButton.less";
@import "programProgress.less";

//import views styles
@import "programWatcherView.less";
@import "commonViewStyles.less";
@import "navigationBar";
@import "detailsView.less";
@import "programsView.less";
@import "channelsView";

//overriding grid.less variable to make grid percent based instead of percent based
@total-width: 100%;

body{
  background: #000000;
}

.main-view {
}