﻿.lg-screen-padding-navbar {    
    padding-right: 20px;
    padding-left: 20px;
}

.navigation-bar-button {
    .back-button;
    border: none;
    margin: 0;
    line-height: 100px;
}

    .navigation-bar-button span {
        .vertical-center;
        line-height: 100px;
    }


    // shows uderscore for button of current  page
    .navigation-bar-button.button-active {
        box-shadow: 0px -7px 0px rgba(222,78,20,1) inset;
    }

        // contines to show underscore, while button of current page is selected by remote control
        .navigation-bar-button.button-active.spotlight {
            box-shadow: 0px -7px 0px rgba(222,78,20,1) inset;
        }

            // contines to show underscore, while button of current page is hoevered by mouse
            .navigation-bar-button.button-active.spotlight:hover {
                box-shadow: 0px -7px 0px rgba(222,78,20,1) inset;
            }

    .navigation-bar-button.spotlight {
        box-shadow: none; // hides any borders nested from spotlight
    }
