@programmableButtonHeight: 63px;
@programmableButtonTextPadding: 15px;

.footerMenu{
  height: @programmableButtonHeight;
  background: #000000;
}

.programmableButtonGeneral {
  display: inline-block;
  line-height: 44px;
  height: 54px;
  color: #999999;
  padding-right: @programmableButtonTextPadding;
  font-weight: bold;
  font-size: 28px;
  background: #000000;
  border: none;
  padding-bottom: 5px;
}

.programmableButton(@color){
  &:first-child{
    margin-left: 35px;
  }

  &.active{
    box-shadow: inset 0 0 0 3px #DE4E14;
  }

  &:before{
    content: ' ';
    display: inline-block;
    height: @programmableButtonHeight - 20px;
    width: @programmableButtonHeight * 1.2;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: @programmableButtonTextPadding;
    vertical-align: middle;

    .gradient(@color, darken(@color, 10%), lighten(@color, 10%));
    box-shadow: inset 0 2px 0 0 lighten(@color, 25%);
  }

  &.pressed:before{
    .gradient(darken(@color, 5%), darken(@color, 15%), lighten(@color, 5%));
    box-shadow: none;
  }
}

.programmableButton__red{
  .programmableButtonGeneral;
  .programmableButton(#EA1618);
}

.programmableButton__green{
  .programmableButtonGeneral;
  .programmableButton(#49802F);
}

.programmableButton__yellow{
  .programmableButtonGeneral;
  .programmableButton(#ECBD19);
}

.programmableButton__blue{
  .programmableButtonGeneral;
  .programmableButton(#167BEF);
}

