.imageContainer(@maxHeight){
  width: 100%;
  height: @maxHeight;
  line-height: @maxHeight;
  text-align: center;
  overflow: hidden;
  font-size: 0;

  img{
    vertical-align: middle;
    max-height: @maxHeight;
  }
}

.slideOutContainer {
  position: relative;
}

.slideOut {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 45%;
  background: rgba(0, 0, 0, 0.6);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  .translate(-100%, 0);

  &.open {
    .translate(0, 0);
  }
}

.programWatcherView{
  background: #000000;


  .slideOut__program-info{
    .slideOut;
    padding: 40px 50px 0;
  }

  @posterHeight: 450px;
  .posterContainer{
    .imageContainer(@posterHeight - 3px *2);
    border: 3px solid #DE4E14
  }

  .programTitle{
    color: #ffffff;
    margin: 30px 0 5px;
    font-size: 43px;
    .webkitMultilineEllipsis(2);
  }

  .hr-divider{
    border-color: rgba(255, 255, 255, 0.1);
    margin:0 0 20px 0;
  }

  @metaHeight: 80px;

  .programMeta{
    height:@metaHeight;
    .row();
    margin-bottom: 25px;
  }

  .programType{
    .column(7);
    line-height: @metaHeight;
    height: @metaHeight;
    color: #ffffff;
    font-size: 24px;
    font-style: oblique;
    .singleLineTextOverflow();

    &:before{
      content: ' ';
      display: inline-block;
      width: 48px;
      height: 48px;
      background: url("../../assets/documentary-ic.png") no-repeat 0 0 ;
      vertical-align: middle;
      padding-right: 12px;
    }
  }

  .progressContainer{
    .column(5);
  }

  .descriptionText{
    font-size: 26px;
    color: rgba(255, 255, 255, 0.4)
  }
}

//element  video-background should be put first in view root
.backgroundVideo{
  display: block;
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundVideo ~ *{
  position: relative;
}

/* common styles*/
.stackLeft{
  float: left;
}

.stackRight{
  float: right;
}
/*common styles end*/
