﻿
.programs-main-view {
    background-image: url("../../assets/_all_bg.jpg");
}

.lg-screen-padding {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}


.programs-navigation-bar {
    background-color: black;
    height: 100px;
}


.programs-fonts-maint-title {
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 38pt;
}


.programs-maint-title {
    .programs-fonts-maint-title;
    margin-left: 20px;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.programs-fonts-scroller-item-name {
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 18pt;
}

.programs-fonts-scroller-channel-name {
    font-family: "Arial", sans-serif;
    color: rgba(255,255,255,0.6);
    font-size: 15pt;
    font-weight: bold;
}


.programs-crop-container {
    .crop-container;
    //    width: 320px;
    height: 320px;
    //  max-width: 320px;
    max-height: 320px;
    min-height: 320px;
}


.programs-favorite-item {
    display: inline-block;
    width: 25%;
    margin-right: 1%;
    background-color: rgb(19,25,55);
    padding: 3px;
}

.programs-favorite-item-imageblock {
    text-align: center;
}

    .programs-favorite-item-imageblock img {
        max-height: 320px;
        max-width: 480px;
        height: 320px;
        vertical-align: middle;
    }

.program-item-text-in-time-line-first {
    color: white;
    display: inline-block;
}

.program-item-text-in-time-line-last {
    float: right;
    display: inline-block;
    color: #DE4E14;
}

.programs-item-tine-line-box {
    padding: 25px 25px 30px 25px;
}
