.programProgress{
  width:100%;

  .timeContainer{
    .clearfix;
  }

  .startTime{
    color: #939398;
    float: left;
    font-size: 28px;
  }

  .endTime{
    color: #f15e22;
    float: right;
    font-size: 28px;
  }

  .progressBar{
    margin: 15px 0;
    height: 6px;
    background: rgba(255, 255, 255, 0.1);

    .moon-progress-bar-bar{
      background: rgba(255, 255, 255, 0.5);
    }
  }
}